:root {
    --primary-color: #17a2b8;
    --dark-color: #343a40;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
  }
  
  .container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
   
  .large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  
  .lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-primary {
    color: var(--primary-color);
  }
  
 .text-dark {
    color: var(--dark-color);
  }
  
  .btn {
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
  }
  
  .alert {
    padding: 0.8rem;
    margin: 2rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
  }
  
  .btn-primary {
    background: var(--primary-color);
    color: #fff;
  }
  
  .alert-danger {
    background: var(--danger-color);
    color: #fff;
  }
  
  .btn-success,
  .alert-success {
    background: var(--success-color);
    color: #fff;
  }
  
  .btn-white,
  .alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  .bg-light,
  .badge-light {
    border: #ccc solid 1px;
  }

  .clock{
    position:absolute;
    top:0;
    right:0;
    margin-right: 20px;
  }
  
  .form .form-group {
    margin: 1.2rem 0;
  }
  
  .form .form-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
  }
  
  .form input[type='text'],
  .form select,
  .form textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
  }
  
  .form input[type='submit'],
  button {
    font: inherit;
  }
  
  .form .social-input {
    display: flex;
  }
  
  .form .social-input i {
    padding: 0.5rem;
    width: 4rem;
  }